nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

    button {
        border: 0;
        padding: 10px 20px;
        cursor: pointer;

        &.active {
            background-color: rgb(49, 101, 211);
            color: white;
        }
    }
}